*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        135deg, purple,orange);
}
.container {
    border: 20px solid white;
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
    
}
#newtask{
    position: relative;
    background-color: #34ada1;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px black;

}
#newtask input{
    width: 70%;
        width: 70%;
    height: 70%;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    border: 2px solid rgb(0, 0, 0);
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: purple;
}

#newtask button{
    position: relative;
    float: right;
    width: 60px;
    height: 45px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    background-color: purple;
    border: none;
    color: white;
    cursor: pointer;

}

#task{
    background-color: rgb(238, 238, 238);
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px black;
    width: 100%;
    position: relative;
}
.task{
    background-color: white;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    cursor: pointer;
}
.task span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: rgb(162, 19, 162);
    color: white;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.completed{
    text-decoration: line-through;
}